body,
html,
main {
  height: 100%;
  margin: auto 0;
  font-family: "Raleway", "Microsoft JhengHei";
}

.fixed-bg {
  min-height: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 20px;
  line-height: 1.5;
}

h1 {
  text-align: center;
  font-size: 3.5em;
  color: rgba(255, 255, 255, 1);
  text-shadow: 1px 1px 10px #000, 5px 5px 20px #000, 1px 0px 20px #def;
  /* opacity: 0.95; */
}

img {
  width: 100%;
  height: auto;
}

.main-text {
  font-size: 5.5em;
  line-height: 0px;
  margin-top: -250px;
}

.sub-text {
  color: #fff;
  line-height: 0px;
  text-shadow: 1px 1px 10px #000, 5px 5px 20px #000, 1px 0px 20px #def;
}

.text-box {
  background: rgba(255, 255, 255, 0.95);
  padding: 20px;
  margin: 0;
  max-width: 500px;
}

.fixed-bg h2 {
  font-size: 4em;
}

.fixed-bg p {
  text-align: center;
  max-width: 500px;
  font-size: 1.2em;
  text-align: left;
}

.bg-1 {
  background-image: url("img/k1g.jpg");
}

.bg-1-1 {
  background-image: url("img/kiosque-001.JPG");
}

.bg-2 {
  background-image: url("img/IMG_8946.JPG");
  background-position: 0% 10%;
}

.bg-2-1 {
  background-image: url("img/IMG_8946.JPG");
  background-position: 0% 10%;
}

.bg-3 {
  background-image: url("img/IMG_0390.JPG");
}

.bg-3-1 {
  background-image: url("img/IMG_0390.JPG");
}

.bg-4 {
  background-image: url("img/horaires.jpg");
}

.hautPage {
  text-decoration: none;
  color: #000;
}
.main-text2 {
  display: none;
}

.container {
  display: none;
}






@media screen and (max-width: 500px) {
  body,
  html,
  main {
    min-height: auto;
    margin: auto 0;
    font-family: "Raleway", "Microsoft JhengHei";
    overflow-x: hidden;
  }

  .bg-1 {
    background-image: url("img/IMG_0628.JPG");
    background-position: 70% 50%;
  }

  .bg-2 {
    background-image: url("img/IMG_8946.JPG");
    background-position: 75% 50%;
  }

  .bg-2-1 {
    background-image: url("img/IMG_8946.JPG");
    background-position: 75% 50%;
  }

  .main-text {
    display: none;
  }

  .main-text2 {
    display: block;
    margin-top: -600px;
  }

  .fixed-bg p {
    text-align: center;
  }

  .fixed-bg a {
    display: none;
  }

  .text-box p {
    text-align: left;
  }
}
